
body {
    max-width: 1000px;
    width:fit-content;
    height:fit-content;
    align-self: center;
    margin-left: auto;
    margin-right: auto;

    padding: 50px;

    color: whitesmoke;
    font-family: 'Muli', sans-serif;
    font-style: normal;

    background-color: rgb(13, 17, 23);
}

#index_bg {
    background-image: url("render00.png");
    background-color: rgb(13, 17, 23);
    background-size: 100%;
    background-blend-mode: hard-light;
    background-blend-mode: color-dodge;
}

section {
    background-color: rgb(33, 47, 53);
    border-radius: 10px;
    padding: 25px;
    margin-bottom: 20px;
}

iframe {
    display: block;
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;

}

video {
    display: block;
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

table {
    display: block;
    margin-top: auto 15px;
}

td {
    margin: 50px;
}

h1 {
    /* text-decoration: underline; */
    display: block;
    width: fit-content;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
}

@keyframes link_hover {
    from {
        color: rgb(53, 196, 77);
        /* background-color: rgb(13, 17, 23); */
        /* text-decoration: none; */
        /* text-decoration-style: dotted; */
    }
    to {
        color: rgb(53, 196, 77);
        background-color: rgb(23, 136, 37);
    }
}


a {
    /* text-decoration: none; */
    text-decoration: underline;
    text-decoration-style: dotted;
    color: rgb(53, 196, 77);
    border-radius: 5px;
}

a:hover {
    /* color: rgb(214, 214, 214); */
    animation-duration: 0.5s;
    animation-name: link_hover;
    animation-fill-mode: forwards;
}


/*
    INDEX
*/

.index_box {
    /* background-color: rgb(22, 27, 34); */
    padding: 50px;
    border-radius: 10px 10px;
    /* width: fit-content;
    height: fit-content; */
    width: 80%;
    height: 30%;
    /* justify-items: center; */
    /* align-items:  center; */
    /* align-content: center; */
    justify-content: center;
    display: flex; 
    flex-direction: row;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    /* transform: translateY(-50%); */
}



.img_menu {
    max-width: 500%;
    max-height: 500%;
    /* width: auto;
    height: auto; */
    /* width: calc(30vmin); */
    /* width: 500px; */
    height: calc(30vmin);
    border-radius: 50%;
    display:block;
    align-self: center;
    filter: drop-shadow(10px 15px 4px rgb(12, 14, 15));
}

.index_tri {
    width: 0;
    height: 0;
    margin: 0px;
    /* margin-top: x; */
    /* margin-top: 25%; */
    align-self: center;
    border-style: solid;
    border-color:  transparent  transparent rgb(32, 37, 44) transparent;
    transform: rotate(-90deg);
    border-width: 0 calc(2vmin) calc(2vmin) calc(2vmin);
    margin-right: -12px;
    /* border-style: groove; */
    /* border-color: transparent transparent antiquewhite transparent; */
    border-style: solid;
    /* filter: drop-shadow(10px 15px 4px rgb(12, 14, 15)); */
    /* padding-right: 10px; */
}

#blur {
    filter: blur(1px)  ;
    border-color:  transparent  transparent rgb(12, 14, 15) transparent;
    transform: rotate(-90deg) translate(-13px,  35px);
}

.index_chatbox {
    width: 50vmin;
    height: fit-content;
    /* max-width: 50%; */
    /* height: 200px; */
    padding: 2vmin;
    background-color: rgb(32, 37, 44);
    border-radius: 7px 7px;
    align-self: center;

    font-size: 100%;
    /* font-size: large; */

    filter: drop-shadow(10px 15px 4px rgb(12, 14, 15));

    animation-name: float;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.index_chatbox > p {
    font-size: calc(2vmin);
    /* font- */
}

@keyframes float {
    from { transform: translateY(-20vmin); }
    50% { transform: translateY(calc(-20vmin - 5px)); }
    to { transform: translateY(-20vmin); }
    
}

/* 
    CV
*/

.cv {
    margin: 0px;
    border: none;
    background-color: rgb(255, 255, 255);
    color: rgb(12, 14, 15);
    max-width: fit-content;
}

#cv_name {
    font-size: 20pt; 
    text-align: right;
    margin-right: 0px;
    margin-bottom: 0px;
}

#cv_title {
    font-size: 14pt;
    text-align: right;
    font-weight: normal;
    margin-top: 0px;
}

.cv > h1 {
    font-size: 16pt;
}

.cv > h2 {
    font-size: 12pt;
}
.cv > h3 {
    /* font-weight: bold; */
    font-size: 10pt;
}

.cv > h4 {
    font-size: 8pt;
}
.cv_title {
    /* font-size: xx-large; */
    font-size: 12pt;
    margin-bottom: 0px;
    margin-top: 10px;
    margin-right: 5px;
    width: 25%;
    text-align: right;
}

.cv_section {
    display: flex;
    flex-direction: row;
}

.cv_description {
    width: 75%;
}

.courses {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 9px;
}

.courses > p {
    font-size: 10pt;
    margin: 2px;
    margin-right: 10px;
}

.courses > p:nth-child(3n-2) {
    font-weight: bold;
    margin-right: 5px;
}

.skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.skills > p {
    font-size: 10pt;
    margin: 2px;
    margin-right: 10px;
}


.e-mail:before {
    content: attr(data-website) "\0040" attr(data-user);
    unicode-bidi: bidi-override;
    direction: rtl;
}

.cv_info > h1 {
    text-align: left;
    vertical-align:middle;
    margin: 0px;
    height: 80px;
}

.cv_info > p {
    margin: 0px; 
}

.cv_info {
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    width:auto;
    height:80px;
}

.cv_contact > p {
    margin-top: 0px;
    margin-bottom: 0px;
    /* margin: 0px; */
    /* padding: 0px; */
}

.emprego {
    /* border-left: solid 1px rgb(12, 14, 15); */
    padding-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* work title */
.emprego > h2 {
    margin: 0px;
}

/* company */
.emprego > h3 {
    margin: 0px;
    font-weight: normal;
}

/* work date*/
.emprego > h4 {
    font-style: italic;
    font-size: smaller;
    margin-top: 0px;
    margin-bottom: 2px;
    font-weight: normal;
}

.emprego > li {
    margin-left: 10px;
}

.techs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 4px 0px;
}

/* .techs > div > p {
    border: 2px;
    font-style: italic;
    margin-left: 3px;
    margin-right: 3px;
} */

/* Solid rounded border div with uppercase text inside it */
.techs > div > p {
    font-size: 10pt;
    font-weight: bold;
    /* border: solid 1px rgb(63, 66, 68); */
    background-color: rgb(221, 221, 221);
    color: rgb(99, 99, 99);
    /* border-radius: 5px; */
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    margin: 2px 5px;
    padding: 8px;
} 

/* .techs > div {
    border: 10px;
    border-style: solid;
    border-color: red;
} */

/*
    GLOBAL
*/

@keyframes scale {
    from { 
        transform: scale(100%); 
    }
    to { 
        transform: scale(110%); 
    }
}

.btn_back {
    font-size: 30pt;
    float: right;
    position: fixed;
    right: 50px;
    z-index: -10;
}

.btn_back:hover {
    animation-name: scale;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
}

.social_media_icon {
    border-radius: 50%;
    width: 50px;
}

.social_media_link {
    text-decoration: none;
}

.subtitle {
    margin-top:-15px;
    font-style:italic;
    font-size: smaller;
}

.tbl_img {
    width:250px;
    height:250px;
    margin: 0px 5px 0px 5px;
}
.tbl_menu {
    margin: 0 auto;
    border-collapse: collapse;
    width: fit-content;
}

code {
    padding: -50px;
}
