:root {
    --bg-color: whitesmoke;
    --fg-color: rgb(12, 14, 15);
    background-color: var(--bg-color);
    font-size: 14pt;
}

a {
    font-style: normal;
    text-decoration: none;
    /* text-decoration-color: var(--fg-color); */
}

a:visited {
    text-decoration: none;
    color: var(--fg-color);

}

body {
    width:fit-content;
    height:fit-content;
    align-self: center;
    /* margin-left: auto;
    margin-right: auto; */

    padding: 50px;

    color: var(--bg-color);
    font-family: 'Iosevka Term Web';
    font-style: normal;

    list-style-type: square;
}


h1 {
    /* text-decoration: underline; */
    display: block;
    width: fit-content;
    font-weight: 700;
    /* margin-left: auto;
    margin-right: auto; */
}


.cv {
    margin: 0px;
    border: none;
    background-color: var(--bg-color);
    color: var(--fg-color);
    max-width: fit-content;
    /* max-width: 60%; */
    margin-left: auto;
    margin-right: auto;
}

#cv_name {
    margin-right: 0px;
    margin-bottom: 0px;
    margin: 0px;
    height: auto;
}


.cv_info {
    align-self:  center;
    margin: 0px;
}

.cv_info > h1, h2, h3, h4 {
    margin: 0px;
}

.cv_info > h4 {
    font-weight: normal;
}

.cv > h1 {
    font-size: 16pt;
}

.cv > h2 {
    font-size: 12pt;
}

.cv > h3 {
    /* font-weight: bold; */
    font-size: 10pt;
}

.cv > h4 {
    font-size: 8pt;
}

.cv_title {
    margin: 0px !important;
}

.courses {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 9px;
}

.courses > p {
    font-size: 10pt;
    margin: 2px;
    margin-right: 10px;
}

.courses > p:nth-child(3n-2) {
    font-weight: bold;
    margin-right: 5px;
}

.skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.skills > p {
    font-size: 10pt;
    margin: 2px;
    margin-right: 10px;
}


.e-mail:before {
    content: attr(data-website) "\0040" attr(data-user);
    unicode-bidi: bidi-override;
    direction: rtl;
}


.cv_info > h1 {
    /* text-align: left;
    vertical-align:middle; */
    margin: 0px;
    height: 80px;
}


.cv_info > p {
    margin: 0px; 
}

.cv_info {
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    width:auto;
    height:80px;
}

.cv_contact > p {
    margin-top: 0px;
    margin-bottom: 0px;
    /* margin: 0px; */
    /* padding: 0px; */
}

.emprego {
    /* border-left: solid 1px rgb(12, 14, 15); */
    /* padding-left: 5px; */
    margin-top: 20px;
    margin-bottom: 20px;
}

.emprego-title {
    flex-direction: row;
    display: flex;
}

.emprego-place {
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: center;
    font-weight: normal;
    /* text-align: center; */
}

.separator-vert {
    background-color: var(--fg-color);
    width:2px; 
    height:auto; 
    margin-left: 10px;
    margin-right: 10px;
}

.separator-hor {
    background-color: var(--fg-color);
    height:2px; 
    width:auto; 
    margin-top: 10px;
    margin-bottom: 10px;
}

.cv_section { 
    padding: 10px;
    /* padding-left: 10px;
    padding-top: 10px; */
}


/* work title */
.emprego > h2 {
    margin: 0px;
}

/* company */
.emprego > h3 {
    margin: 0px;
    font-weight: normal;
}

/* work date*/
.emprego > h4 {
    font-style: italic;
    font-size: smaller;
    margin-top: 0px;
    margin-bottom: 2px;
    font-weight: normal;
}

.emprego > li {
    margin-left: 10px;
}

.techs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 4px 0px;
}

/* .techs > div > p {
    border: 2px;
    font-style: italic;
    margin-left: 3px;
    margin-right: 3px;
} */

/* Solid rounded border div with uppercase text inside it */
.techs > div > p {
    font-size: 10pt;
    font-weight: bold;
    /* border: solid 1px rgb(63, 66, 68); */
    background-color: rgb(221, 221, 221);
    color: rgb(56, 56, 56);
    /* border-radius: 5px; */
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    margin: 2px 5px;
    padding: 8px;
} 

/* .techs > div {
    border: 10px;
    border-style: solid;
    border-color: red;
} */

/*
    GLOBAL
*/

@keyframes scale {
    from { 
        transform: scale(100%); 
    }
    to { 
        transform: scale(110%); 
    }
}

.btn_back {
    font-size: 30pt;
    float: right;
    position: fixed;
    right: 50px;
    z-index: -10;
}

.btn_back:hover {
    animation-name: scale;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
}

.social_media_icon {
    border-radius: 50%;
    width: 50px;
}

.social_media_link {
    text-decoration: none;
}

.subtitle {
    margin-top:-15px;
    font-style:italic;
    font-size: smaller;
}

.tbl_img {
    width:250px;
    height:250px;
    margin: 0px 5px 0px 5px;
}
.tbl_menu {
    margin: 0 auto;
    border-collapse: collapse;
    width: fit-content;
}

code {
    padding: -50px;
}
